body {
  background-color: #000;
}
.Aqui {
  max-width: 37.5rem;
  height: 100vh;
  background-color: #000;
  color: #fff;

  overflow-x: hidden;
  border: 0.1px solid #ffffff36;
}
.Aqui {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.Aqui::-webkit-scrollbar {
  display: none;
}
.btn {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 5;
  width: 37.5rem;
  height: 3.125rem;
  z-index: 1;
  background-color: #00000057;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #ffffff36;
}

.btn button {
  background-color: #0000007c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  height: 3.125rem;
  cursor: pointer;
  width: 50%;
  transition: 0.2s ease-in-out;
}

.btn button:hover {
  background-color: #1a1919bb;
}

.pub {
  padding: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 0;
  border-bottom: 0.1px solid #ffffff36;
  display: flex;
  margin-top: 20px;
}

.pub1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pub1 input {
  background-color: #00000000;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 80%;
  transition: 0.2s ease-in-out;
  height: 20px;
  font-size: 20px;
}

.pub img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.pub2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  margin: 5px auto;
  padding: 15px;
  padding-bottom: 5px;
}
.pub2 div {
  display: flex;
  align-items: center;

  flex-direction: row;
  gap: 15px;
}
.pub2 img {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}
.pub2 button {
  background-color: #c9c5c59d;
  color: #181818;
  font-weight: 700;
  font-size: 15px;
  border: none;
  padding: 7px 20px;
  cursor: pointer;
  width: 4.375rem;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}

.pub3 {
  width: 100%;
}

.profileA {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.tweet {
  border-bottom: 0.1px solid #ffffff36;
}

.tweet1 {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 10px;
}

.tweet11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  width: 100%;
}

.tweet111 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet14 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.more {
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.post {
  max-height: 30rem;
  object-fit: cover;
  max-width: 95%;
  min-width: 70%;
  width: auto;
  border: 0.1px solid #ffffff36;
  border-radius: 25px;
  margin-top: 10px;
}
video {
  border: 0.1px solid #ffffff36;
  border-radius: 25px;
  margin-top: 10px;
  max-width: 95%;
  min-width: 70%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 5px;
  gap: 10px;
  padding: 5px;
}

.actions img {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}
.actions {
  font-size: 0.9rem;
}

.grok {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 7px;
  right: 23px;
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 15px;
  padding: 0.4rem;
  box-shadow: 0px 0px 8px 1px rgba(255, 253, 253, 0.397);
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.grok:hover {
  background-color: #1f243dbb;
}

.grok img {
  height: 35px;
}
