@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
/* .pname {
  display: flex;
  align-items: center;
  gap: 4px;
} */
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 98vh;
  overflow-y: hidden;
  background-color: #000;
  color: #fff;
  font-size: 0.9375rem;
}
.Aqui span {
  color: #adadad98;
}
.Nico span {
  color: #adadad9a;
}
.Aris span {
  color: #adadad9a;
}
.Aqui {
  margin-right: 1.875rem;
}

.JGolden {
  width: 19.75rem;
}

.right {
  scrollbar-width: none;
  overflow-y: scroll;
}

@media (max-width: 1300px) {
  nav ul li p {
    display: none;
  }
  .right {
    display: none;
  }
  .profile div {
    display: none;
  }
  .profile svg {
    display: none;
  }
  a button {
    width: auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Nico {
    display: none;
  }
  .Aqui {
    width: 100%;
  }
  .container {
    margin-right: 1.875rem;
  }
  .btn {
    margin-right: 1.875rem;
  }
  .btn button {
    width: 25%;
  }
}

@media (max-width: 500px) {
  .Aqui {
    width: 100%;
    margin-right: 0;
    border: none;
  }
  .container {
    margin-right: 0;
  }
  .btn {
    width: 100%;
    margin-right: 1.875rem;
  }
}
